@import './normalize.scss';
@import './fonts.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;

  --bg: #f3f7fa;
  --blue: #2196f3;
  --light-blue: #f1fcff;
  --text-color: #4a4a4a;
  --text-color-primary: #a0b0b9;
}
#root {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px 20px;
  align-items: flex-start;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 100px;
}
body {
  color: var(--text-color);
  background-color: var(--bg);
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.standard-block {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(#000, 0.1);
}
