.ticket-segment {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  & + & {
    margin-top: 10px;
  }
  &__item {
    line-height: 20px;
  }
  &__title {
    color: var(--text-color-primary);
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  &__value {
    font-size: 1.4rem;
  }
}
